@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --mostrando: #E3F6FF;
  --esperando: #92D2F3;
  --flotando: #072949;
}

body{
  background: #2E7AC1 ;
  color: #E3F6FF;
  font-family: Tahoma;
}

h1, h2{
  font-family: "Pixelify Sans";
  color: #072949;
}

h1{
  font-size: 400%;
}

h2{
  font-size: 150%;
}


#bloque {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: min(calc(90% - 2rem), 500px);
    height:auto;
    padding: 1rem;
    margin: auto;
    background: #76ACEA;
    border-radius: .5rem;
    z-index: 9999;
}

p{
  padding:0.5rem 0;
}

nav{
  margin:1rem 0;  
}

nav a{
  line-height: 1;
  text-decoration: none;
  color:black;
  margin:0 1rem 0 0;
  padding:0.3rem 1rem;
  background:var(--esperando);
  border-radius: .6rem;
  transition:all ease .75s;
}

a.poto:hover:after{ 
  content:" °𐐪♡𐑂°";
}

nav a:hover{
  color:white;
  background:var(--flotando);  
  transition:all ease .75s;
}

nav a.active{
  color:black;
  background:var(--mostrando);
}